body {
	background-color: #dddddd;
	font: 14px bold, arial, sans-serif;
}
div.title{
	background-color: #14223D;
	color: #c2c2c2;
	font: 24px bold, arial, sans-serif;
	padding-top: 15px;
	padding-bottom: 1px;
	padding-left: 30px;
	padding-right: 0px;
	width: 96%;
}

div.body{
	font: 14px bold, arial, sans-serif;
	padding-top: 15px;
	padding-bottom: 1px;
	padding-left: 30px;
	padding-right:30px;
	width: 1000px;
}

a:link{
	color: #2c0599;
	text-decoration: none;
	font: bold, arial, sans-serif;
}

a:visited{
	color: #732e88;
	text-decoration: none;
	font: bold, arial, sans-serif;
}

a:hover{
	color: #eb8dc5;
	font: bold, arial, sans-serif;
}

a:active{
	color: #f304df;
	text-decoration: none;
	font: bold, arial, sans-serif;
}

p.links{
	font-size: 18px;
    position: relative;
    left: 304px;
    padding: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 0px;

}
td {
   border: 1px solid black;
   text-align: right;
   font: 14px bold, arial, sans-serif;
}
td.odd {
	background-color: #ffffff;
	border: 1px solid black;
	text-align: right;
	font: 14px bold, arial, sans-serif;
 }
td.even {
	background-color: #dddddd;
	border: 1px solid black;
	text-align: right;
	font: 14px bold, arial, sans-serif;
 }
td.month{
   border: None;
   text-align: right;
   font: 14px bold, arial, sans-serif;
}

div.object{
	height: 80%;
}

object{
	width: 100%;
	height: 80%;
}
  

